@using evocontest.WebApp.Controllers;
@using evocontest.WebApp.Data;
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/signalr/signalr.js"></script>
<script>
    $(function () {
        function handleMessage(msgType, message) {
            const encodedMsg = "[" + msgType + "] " + message;
            const li = document.createElement("li");
            li.textContent = encodedMsg;
            document.getElementById("messagesList").appendChild(li);
        }

        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/workerhub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.start().then(function () {
            console.log("connected");
        });

        connection.on("ReceiveMessage", (message) => {
            handleMessage("ReceiveMessage", message);
        });

        connection.on("ValidateSubmissions", (message) => {
            handleMessage("ValidateSubmissions", message);
        });

        connection.on("RunRace", () => {
            handleMessage("RunRace", "");
        });
    });
</script>

<h1>Admin</h1>

@ViewBag.Message

@using (Html.BeginForm(nameof(AdminController.DoClearAllSubmissions), "Admin", FormMethod.Post))
{
    <input type="submit" value="Delete all submissions" onclick="return confirm('Biztos?')" />
}

@using (Html.BeginForm(nameof(AdminController.DoClearAllMatches), "Admin", FormMethod.Post))
{
    <input type="submit" value="Delete all matches" onclick="return confirm('Biztos?')" />
}

<div style="margin-top:3em">
    @using (Html.BeginForm(nameof(AdminController.DoRunRace), "Admin", FormMethod.Post))
    {
        <input type="submit" value="Run match" onclick="return confirm('Biztos?')" />
    }
</div>
<div style="margin-top:2em">
    @Html.ActionLink("Download match zip", nameof(AdminController.DownloadMatchPackage), "Admin", new { })
</div>

<div style="margin-top:3em">
    <h5>Impersonate</h5>
    <ul>
        @foreach (var (id, name, email) in (IEnumerable<(string, string, string)>)ViewBag.Users)
        {
            <li>
                @Html.ActionLink(name, nameof(AdminController.ImpersonateUser), "Admin", new { targetUserId = id }) (@email)
            </li>
        }
    </ul>
</div>

<div style="margin-top:3em">
    <h5>Submissions</h5>
    <ul>
        @foreach (var submission in (IEnumerable<Submission>)ViewBag.Submissions)
        {
            <li>
                @Html.ActionLink("[download]", nameof(AdminController.DownloadSubmission), "Admin", new { submissionId = submission.Id })
                @submission.UploadDate.ToString("yyy.MM.dd. HH:mm:ss") - @submission.User.FullName (@submission.User.Email)
            </li>
        }
    </ul>
</div>

<h5 style="margin-top:3em">SignalR messages</h5>
<ul id="messagesList" style="font-size: x-small"></ul>
